[submodule "gradle/TorangToml"]
	path = gradle/TorangToml
	url = https://github.com/sarang628/TorangToml.git
[submodule "app/src/main/java/com/sarang/torang/di/repository"]
	path = app/src/main/java/com/sarang/torang/di/repository
	url = https://github.com/sarang628/repository.git
[submodule "app/src/main/java/com/sarang/torang/di/pinchzoom"]
	path = app/src/main/java/com/sarang/torang/di/pinchzoom
	url = https://github.com/sarang628/pinchzoom.git
[submodule "app/src/main/java/com/sarang/torang/di/restauarnt_info_di"]
	path = app/src/main/java/com/sarang/torang/di/restauarnt_info_di
	url = https://github.com/sarang628/restauarnt_info_di.git
